@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JokesWebApp</h1>
    <p>The foremost authority to good humor on your local server is the JokesWebApp.</p>
</div>
